@import '../../styles/common-imports';

.container {
  background-color: var(--white);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.header {
  background-color: var(--theme-tertiary);
  color: var(--white);
  text-align: center;
  margin: 0;
}

.title {
  color: var(--theme-primary-dark);
  text-align: center;
  margin: 0;
}

.content {
  color: var(--grey-1);
  padding: 0 rhythm(0.75);

  p {
    margin: 0 0 rhythm(1) 0;
  }
}

.linkWrapper {
  text-align: center;
  padding: 0 0 rhythm(1);
  margin-top: auto;
}
