$rhythm-unit: 'rem';
//$rem-with-px-fallback: false;
$base-font-size: 16px;
$base-line-height: 26px;

$grid-gutter-width: 26px;

$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: 'Oswald', sans-serif;
