:root {
    --theme-primary-dark: #00468a;
    --theme-primary-light: #4b8ad8;
    --theme-tertiary: #78a22f;
    --font-primary: normal 300 normal 1rem/1.5 var(--font-family-primary);
    --font-secondary: normal 400 normal 1rem/1.5 var(--font-family-secondary);
    --font-system: normal 400 normal 1rem/1.5 var(--font-family-system);
    --font-family-primary: 'Open Sans', sans-serif;
    --font-family-secondary: 'Oswald', sans-serif;
    --font-family-system: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI',
        'Roboto', 'Helvetica', 'Arial', 'sans-serif', 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
    --grey-1: #666666;
    --grey-2: #f0f2f4;
    --grey-3: #d3d9de;
    --black: #000000;
    --white: #ffffff;

}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Open Sans Light'), local('OpenSans-Light'),
        url('../fonts/open-sans-v16-latin-300.woff2') format('woff2'),
        url('../fonts/open-sans-v16-latin-300.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('../fonts/open-sans-v16-latin-regular.woff2') format('woff2'),
        url('../fonts/open-sans-v16-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Oswald Regular'), local('Oswald-Regular'),
        url('../fonts/oswald-v17-latin-regular.woff2') format('woff2'),
        url('../fonts/oswald-v17-latin-regular.woff') format('woff');
}

html {
    font: var(--font-system);
    text-rendering: optimizeLegibility;
}

/*.force-font-load-oswald,*/
/*.force-font-load-open-sans-300,*/
/*.force-font-load-open-sans-400 {*/
/*    position: absolute;*/
/*    z-index: -1000;*/
/*    visibility: hidden;*/
/*}*/

/*.force-font-load-oswald {*/
/*    font-family: var(--font-family-secondary);*/
/*}*/

/*.force-font-load-open-sans-300 {*/
/*    font-family: var(--font-family-primary);*/
/*    font-weight: 300;*/
/*}*/

/*.force-font-load-open-sans-400 {*/
/*    font-family: var(--font-family-primary);*/
/*}*/

.bg-ptn--blue-bar-bkg-resources {
    background-color: #0f4e7b;
    background-image: url(../images/drk-blue-bar-bkg-resources.png);
    background-repeat: repeat;
}

.bg-ptn--gold-bar-bkg-insights {
    background-color: #F0C410;
    background-image: url('../images/gold-bar-bkg-insights.png');
    background-repeat: repeat;
}


.bg-ptn--blue-bar-bkg-nexus {
  background-color: #4b8ad8;
  background-image: url('../images/blue-bar-bkg-nexus.png');
  background-repeat: repeat;
}
