@import '_common-imports.scss';
@import 'node_modules/bootstrap/scss/grid';
@import 'node_modules/bootstrap/scss/utilities';


// https://meowni.ca/font-style-matcher/

.ff-p {
  font-weight: 300;

  .open-sans-300-loaded & {
    font-family: $font-family-primary;
  }
}

.ff-p-400 {
  font-weight: 400;

  .open-sans-400-loaded & {
    font-family: $font-family-primary;
  }
}

.fs-14 {
  @include adjust-font-size-to(14px, 1);
}


.fs-16 {
  @include adjust-font-size-to(16px, 1);
}

.fs-20 {
  @include adjust-font-size-to(20px, 1.5);
}

.fs-24 {
  @include adjust-font-size-to(24px, 1.5);
}

.fs-28 {
  @include adjust-font-size-to(28px, 1.5);
}

.fs-38 {
  @include adjust-font-size-to(38px, 1.5);
}

@include media-breakpoint-up(md) {
  .fs-md-34 {
    @include adjust-font-size-to(34px, 2);
  }
  .fs-md-45 {
    @include adjust-font-size-to(45px, 2);
  }
}

.ff-s {
  font-weight: 400;

  .oswald-400-loaded & {
    font-family: $font-family-secondary;
  }

  &.fs-20, & .fs-20,
  &.fs-24, & .fs-24,
  &.fs-28, & .fs-28 {
    html:not(.oswald-400-loaded) & {
      letter-spacing: -2.2px;
    }
  }

  &.fs-28, & .fs-28 {
    html:not(.oswald-400-loaded) & {
      letter-spacing: -2.2px;
    }
  }

  &.fs-38, & .fs-38 {
    html:not(.oswald-400-loaded) & {
      letter-spacing: -4.75px;
      word-spacing: -2px;
    }
  }

  @include media-breakpoint-up(md) {
    .fs-md-34 {
      html:not(.oswald-400-loaded) & {
        letter-spacing: -3px;
        word-spacing: 2px;
      }
    }
    .fs-md-45 {
      html:not(.oswald-400-loaded) & {
        letter-spacing: -4.75px;
        word-spacing: -2px;
      }
    }
  }
}
