@import '../../styles/common-imports';

.list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.item {
  display: inline-block;
  margin: 0 rhythm(1) rhythm(1) 0;

  &:last-child {
    margin-right: 0;
  }
}
