@import '../../styles/common-imports';

.component {
  @include component();

  :global(.gatsby-image-wrapper) {
    margin: 0 auto;
  }
}

.content {
  color: var(--grey-1);

  p {
    margin-top: 0;
    margin-bottom: rhythm(1);
  }
}

.title {
  color: var(--theme-primary-dark);
  text-align: center;

  span {
    color: var(--theme-tertiary);
  }
}

.img {
  order: -1;
  margin: 0 auto 1em;
  text-align: center;
  flex-basis: 100%;
  @include media-breakpoint-up(sm) {
    order: 0;
    margin: 0;
    flex-basis: auto;
  }
}

.img-on-left .img {
  @include media-breakpoint-up(sm) {
    order: -1;
  }
}

.isFixedImg {
  margin: 0 rhythm(1) rhythm(1);
}
