@import '../styles/common-imports';

.component {
  @include component();
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.listItem {
  vertical-align: top;
  padding-top: rhythm(1);
  padding-bottom: rhythm(1);
  display: flex;
}

:global(.bgc--xs--box-bg-grey) {
  background-color: var(--grey-3);
}

:global(.bgc--xs--box-bg-alt) {
  background-color: var(--grey-2);
}
