@import '../styles/common-imports';

.component {
  @include component();
}

.content {
  display: flex;
  flex-wrap: wrap;
  @include media-breakpoint-up(sm) {
    flex-wrap: nowrap;
  }

  h1,
  h2,
  h3,
  h4 {
    margin: 0;
    width: 100%;
  }
}

.title {
  flex: 1 1 100%;
  text-align: center;
  margin: 0 rhythm(0.5);
  display: flex;
  align-items: center;
  letter-spacing: -1px;
  @include media-breakpoint-up(sm) {
    text-align: right;
  }
}

.title span {
  @include adjust-leading-to(0.75);
  @include media-breakpoint-up(sm) {
    @include adjust-leading-to(1.5);
  }
}

.content .title > * {
  @include adjust-leading-to(1.5);
}

.img {
  margin-left: auto;
  margin-right: auto;
  @include media-breakpoint-up(sm) {
    text-align: left;
  }
}

:global(.bg-ptn--blue-bar-bkg-resources) .title {
  color: var(--white);
}

:global(.bg-ptn--blue-bar-bkg-resources) .title span {
  color: var(--theme-primary-light);
}

:global(.bg-ptn--gold-bar-bkg-insights) .title {
  color: var(--white);
}

:global(.bg-ptn--gold-bar-bkg-insights) .title span {
  color: var(--theme-primary-dark);
}

:global(.bg-ptn--blue-bar-bkg-nexus) .title {
  color: var(--black);
}

:global(.bg-ptn--blue-bar-bkg-nexus) .title span {
  color: var(--white);
}
