@import '../styles/common-imports';

.button {
  cursor: pointer;
  background-color: var(--theme-tertiary);
  color: var(--white);
  text-decoration: none;
  display: inline-block;
  padding: rhythm(0.25) rhythm(1.25) rhythm(0.25) rhythm(0.75);
  border-radius: rhythm(1);
  border: 0;
  position: relative;
  margin: 0;
}
