@import '../styles/common-imports';

.component {
  @include component();
}

.title {
  color: var(--theme-primary-dark);
  text-align: center;
}

.title:empty {
  display: none;
}

.content {
  color: var(--grey-1);
  column-count: 1;
  column-gap: rhythm(1);
  @include adjust-font-size-to(16px, 1);
  font-weight: 300;

  :global(.open-sans-300-loaded) & {
    font-family: $font-family-primary;
  }
}

@media (min-width: 600px) {
  .content {
    column-count: 2;
  }
}

.content p {
  margin-top: 0;
  margin-bottom: rhythm(1);
}

.content p + ul {
  margin-top: - rhythm(1);
}

.content ul {
  margin: 0 0 rhythm(1);
}

.content > div {
  break-inside: avoid;
}

.content h1,
.content h2,
.content h3,
.content h4 {
  @include adjust-font-size-to(16px, 1);
  font-weight: 400;
  margin: 0;

  :global(.open-sans-400-loaded) & {
    font-family: $font-family-primary;
  }
}
