@import '../../styles/common-imports';

.component {
  @include component();
  display: grid;

  :global(.gatsby-image-wrapper) {
    margin: 0 auto rhythm(1);
  }

  grid-column-gap: $grid-gutter-width;
  grid-template-areas: 'img' 'header' 'main' 'buttons';
  grid-template-columns: auto;
  @include media-breakpoint-up(sm) {
    grid-template-areas: 'header img' 'main img' 'buttons img';
    grid-template-columns: auto 33.3333%;
  }
}

.title {
  grid-area: header;
  color: var(--theme-primary-dark);
  text-align: center;

  span {
    color: var(--theme-tertiary);
  }
}

.img {
  grid-area: img;
}

.buttons {
  grid-area: buttons;
}

.content {
  grid-area: main;
  color: var(--grey-1);

  p {
    margin-top: 0;
    margin-bottom: rhythm(1);
  }
}
